name: Creating workflow
on: [workflow_dispatch,push]
jobs: 
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: Print Hello World
              run: echo "Hello, World!" 
                