name: First Workflow till creating workflow
on: workflow_dispatch
jobs: 
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: Print Hello World
              run: echo "Hello, World!" 
                