name: 6_Job Artifacts and Outputs
on: workflow_dispatch
jobs: 
    upload_artifacts:
            runs-on: ubuntu-latest
            steps:
                - name : Upload Artifact
                  uses: actions/upload-artifact@v3
                  with:
                      name: my-artifact
                      path: .
    download_artifacts:
            runs-on: ubuntu-latest
            needs: upload_artifacts
            steps:
                - name : Download Artifact
                  uses: actions/download-artifact@v3
                  with:
                      name: my-artifact
                      path: .