name: 6_Job Artifacts and Outputs
on: 
    workflow_dispatch:
    push:
jobs: 
    upload_artifacts:
            runs-on: ubuntu-latest
            steps:
                - name : Upload Artifact
                  uses: actions/upload-artifact@v6
                  with:
                      name: my-artifact
                      path: ./.github/workflows/upload.txt
    download_artifacts:
            runs-on: ubuntu-latest
            needs: upload_artifacts
            steps:
                - name : Download Artifact
                  uses: actions/download-artifact@v6
                  with:
                      name: my-artifact
                      path: .