name: 6_Job Artifacts and Outputs
on: 
    workflow_dispatch:
jobs: 
    upload_artifacts:
            runs-on: ubuntu-latest
            outputs:
                artifact_id: ${{ steps.upload.outputs.artifact-id }}
                artifact_url: ${{ steps.upload.outputs.artifact-url }}
            steps:
                - name: Checkout Code
                  uses: actions/checkout@v4
                - name: Create a file to upload
                  run: echo "This is a sample artifact file." > .github/workflows/upload.txt
                - name : Upload Artifact
                  id: upload
                  uses: actions/upload-artifact@v6
                  with:
                      name: my-artifact
                      path: .github/workflows/upload.txt
                - name: Print Digest
                  run: |
                    echo "Artifact Digest:${{ steps.upload.outputs.artifact-id }}"
                    echo "Artifact URL: ${{ steps.upload.outputs.artifact-url }}"
    download_artifacts:
            runs-on: ubuntu-latest
            needs: upload_artifacts
            steps:
                - name : Download Artifact
                  uses: actions/download-artifact@v6
                  with:
                      name: my-artifact
                      path: .github/workflows/downloaded
                - name: Print artifact ID from previous job
                  run: |
                    echo "Artifact ID from job output: ${{ needs.upload_artifacts.outputs.artifact_id }}"
                    echo "Artifact URL from job output: ${{ needs.upload_artifacts.outputs.artifact_url }}"