name: 6_Job Artifacts and Outputs
on: 
    workflow_dispatch:
    push:
jobs: 
    checkout_code:
            runs-on: ubuntu-latest
            steps:
                - name: Checkout Code
                  uses: actions/checkout@v4
                - name: Create a file to upload
                  run: echo "This is a sample artifact file." > .github/workflows/upload.txt
    upload_artifacts:
            runs-on: ubuntu-latest
            needs: checkout_code
            steps:
                - name : Upload Artifact
                  uses: actions/upload-artifact@v6
                  with:
                      name: my-artifact
                      path: .github/workflows/upload.txt
    download_artifacts:
            runs-on: ubuntu-latest
            needs: upload_artifacts
            steps:
                - name : Download Artifact
                  uses: actions/download-artifact@v6
                  with:
                      name: my-artifact
                      path: .