name: First Workflow
on: [workflow_dispatch, push]
jobs: 
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: Print Hello World
              run: echo "Hello, World!" 
            - name: Print GitHub Context
              run: echo ${{toJson(github)}}
                